---
layout: default
title: "Open Source Projects"
comments: false
footer: true
---
<hr />
<div class="github-card" data-user="xditx32" data-repo="openfaas-gke"></div>
<hr />
<div class="github-card" data-user="xditx32" data-repo="swarm-gcp-faas"></div>
<hr />
<div class="github-card" data-user="xditx32" data-repo="swarmprom"></div>
<hr />
<div class="github-card" data-user="xditx32" data-repo="mgob"></div>
<hr />
<div class="github-card" data-user="xditx32" data-repo="dockprom"></div>
<hr />
<div class="github-card" data-user="xditx32" data-repo="aspnetcore-dockerswarm"></div>
<hr />
<div class="github-card" data-user="xditx32" data-repo="AspNetCoreRateLimit"></div>
<hr />
<div class="github-card" data-user="vtfuture" data-repo="SwiftClient"></div>
<hr />
<div class="github-card" data-user="xditx32" data-repo="MvcThrottle"></div>
<hr />
<div class="github-card" data-user="xditx32" data-repo="WebApiThrottle"></div>
<hr />
<div class="github-card" data-user="vtfuture" data-repo="RequireJSDotNet"></div>
<script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
